#consent-popup {
  align-items: baseline;
  background: #f0f0f0 !important;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0px;

  /* &.hidden {
    opacity: 0;
  } */
}

.acceptcookies {
  background: #ffe172;
  border: 0px;
  border-radius: 6px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  padding: 10px 30px;
  margin: 15px;
  font-size: 13px;
  font-weight: bolder;
}

.style {
  margin: 15px;
}
